/* Common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

input {
    appearance: none;
}

label {
    cursor: pointer;
}

.h1 {
    margin: 0px;
}

button {
    margin: 0px;
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.hidden-text {
  color: transparent;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.app {
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    background-color: #ebd1df;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e279b3;
}

.app-wrapper {
    min-width: 95%;
    background-color: #c1f0f5;
    border-radius: 20px;
    padding: 5% 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

/* Description */

.description {
    display: flex;
    flex-direction: column-reverse;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #ffe07d;
}

.gallows {
    position: relative;
}

.gallows-img {
    max-width: 340px;
}

/* Body positioning */

.body-part {
    position: absolute;
    animation: appear ease-in 0.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.head {
    width: 58px;
    top: 209px;
    left: 126px;
    z-index: 1;
}

.body {
    height: 80px;
    top: 265px;
    left: 153px;
}

.left-arm {
    height: 45px;
    top: 240px;
    right: 185px;
}

.right-arm {
    height: 45px;
    top: 240px;
    right: 148px;
}

.left-leg {
    height: 50px;
    top: 343px;
    right: 184px;
}

.right-leg {
    height: 50px;
    top: 343px;
    right: 145px;
}

/* Game field */

.game-field {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 40px;
}

.word-container {
    max-width: 360px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    font-size: 30px;
}

.letter {
    width: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.letter.underscored {
  border-bottom: 5px solid #4e5a61;
}

.keyboard-container {
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.button {
    width: 45px;
    height: 40px;
    background-color: #4e5a61;
    border-radius: 4px;
    color: white;
    transition: 0.5s;
}

.button.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #7c8f9a;
}

.button:active{
    color: #e279b3;
}

/* Modals */

.shadow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(78, 90, 97, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.hidden-shadow-wrapper {
  visibility: hidden;
  opacity: 0;
}

.modal-window {
  width: 340px;
  text-align: center;
  background-color: #e279b3;
  border: 4px solid #bce097;
  color: #ffe07d;
  padding: 15px;
  border-radius: 14px;
}

.modal-window * {
  margin-bottom: 20px;
}

.lose-img {
  max-width: 80px;
}

.try-again-button {
  width: 140px;
  height: 60px;
  background-color: #4e5a61;
  border-radius: 14px;
  transition: 0.5s;
}

.try-again-button:active{
  color: #e279b3;
}







