@import '../node_modules/modern-normalize/modern-normalize.css';

/* Common */
* {
    margin: 0;
    padding: 0;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  input {
    cursor: pointer;
  }
  
  h1 {
    margin: 0px;
  }
  
  button {
    margin: 0px;
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  
  .disabled {
    pointer-events: none;
    cursor: default;
  }

  :root {
    --page-background-color: #fAf8ee;
    --fields-background-color: #f7b5b7;
    --headers-color: #5c8a60;
    --border-color: #cb7c47;
    --button-background-color: #baceb8;
    --button-disabled-color: #5c8a60;
    --hover-color: #f7b5b7;
    --unlogined-user-color: #ff693a;
    --logined-user-color: #baceb8;


    color: var(--headers-color);
  }


  body {
    font-family: "Mulish", sans-serif;
    /* font-optical-sizing: auto; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    padding: 10px;
    background-color: var(--button-background-color);
    border: var(--hover-color);
    border-radius: 4px;
    transition: 0.2s;
  }

  .button:hover {
    background-color: var(--hover-color);
  }

/* Modal window */

.shadow_wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
  background-color: rgba(254, 254, 254, 0.4);
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}


  @media (max-width: 580px) {
    body {
      font-size: smaller;
    }
  }


