@import '../node_modules/modern-normalize/modern-normalize.css';

/* Common */
* {
    margin: 0;
    padding: 0;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  input {
    cursor: pointer;
  }
  
  h1 {
    margin: 0px;
  }
  
  button {
    margin: 0px;
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  
  .disabled {
    pointer-events: none;
    cursor: default;
  }

  :root {
    --page-background-color: #fAf8ee;
    --headers-color: #5c8a60;
    --border-color: #505d5f;
    --button-background-color: #baceb8;
    --button-hover-color: rgba(194, 149, 130, 90%);
    --button-disabled-color: #f26749;
    --win-text-color: #EA7619;

    color: var(--headers-color);
  }


  body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}
