@import '../../style.css';
@import '../header/Header.css';
/* @import 'assets/[logout].svg'; */

.button {
    width: 180px;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: var(--button-background-color);
    border-radius: 10px;
    transition: 0.5s;
    font-weight: 800;
    color: var(--containers-background-color);
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button.disabled {
    background-color: var(--button-disabled-color);
}

.logOut_button {
    width: 30px;
    height: 20px;
    background-color: inherit;
    background-image: url(../../assets/icons/user-logout.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}