@import '../node_modules/modern-normalize/modern-normalize.css';

/* Common */
* {
    margin: 0;
    padding: 0;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  input {
    cursor: pointer;
  }
  
  h1 {
    margin: 0px;
  }
  
  button {
    margin: 0px;
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  
  .disabled {
    pointer-events: none;
    cursor: default;
  }

  :root {
    --car-page-background-color: rgba(196, 203, 219, 60%);
    --headers-color: #1A2C36;
    --border-color: #505d5f;
    --button-background-color: rgba(215, 206, 211, 80%);
    --button-hover-color: rgba(194, 149, 130, 90%);
    --button-disabled-color: rgba(80, 93, 95, 60%);
    --win-text-color: #EA7619;
  }

  body {
    font-family: "Pangolin", cursive;
    font-style: normal;
  }