@import '../index.css';

.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.header_buttons_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.page_title {
    text-transform: uppercase;
    color: var(--headers-color);
}

.garage_page {
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-image: url('../../public/backgound.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.controllers_container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.button {
    max-width: 140px;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-size: 15px;
    background-color: var(--button-background-color);
    transition: 0.2s;
}

.button:hover {
    background-color: var(--button-hover-color);
}

.button.disabled {
    background-color: var(--button-disabled-color);
}

.input {
    min-height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    transition: 0.2s;
}

.color_input {
    padding: 2px;
}

.submit-input {
    background-color: var(--button-background-color);
}

.update_car_form.disabled * {
    background-color: var(--button-disabled-color);
}

.garage_controllers_container {
    display: flex;
    justify-content: space-between;
}

.page_widgets_container,
.cars_widgets_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page_widgets_container .button,
.cars_widgets_container .button {
    padding: 10px;
}

.cars_page {
    width: 100%;
    background-color: var(--car-page-background-color);
    border-radius: 10px;
}

.car_field {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 5px;
    position: relative;
}

.car_controllers_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.rase_controllers_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.car_container {
    width: 100%;
    border-bottom: 2px dashed var(--border-color);
    z-index: 4;
}

.car {
    width: 80px;
    height: 40px;
}

.car_svg {
    width: 100%;
    height: 100%;
}

.finish_container {
    width: 40px;
    height: 40px;
    background-image: url('../assets/flag.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 80px;
    bottom: 2px;
    z-index: 0;
}

.win_message {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 30;
    text-transform: uppercase;
    color: var(--win-text-color);
    text-shadow: #C29582 1px 0 10px;
    opacity: 0;
    transition: 0.5s;
}

.win_message.appear {
    opacity: 1;
    animation: appear ease-in 0.4s;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }