@import '../index.css';

.not_found_page {
    min-width: 100%;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--page-background-color);
}