@import '../index.css';

/* Header */

.main_heaader {
    min-width: 100%;
    height: 8svh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--page-background-color);
    border-bottom: 2px solid var(--border-color);
}

.header_buttons_wrapper {
    display: flex;
    gap: 20px;
}

/* Main  */

.main_page {
    min-width: 100%;
    height: 84svh;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 15px;
    background-color: var(--page-background-color);
}

.users_list {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.search_input {
    height: 5%;
    padding: 2px;
    border: inherit;
    border-radius: inherit;
    top: 10px;
}

.search_input::after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 50%;
    background-image: url('../../public/find.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.users_container {
    height: 95%;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: inherit;
    overflow-y: scroll;
}

.user_field {
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: inherit;
    cursor: pointer;
    z-index: 1000;
}

.user_field:hover{
    background-color: var(--hover-color);
}

.user_name {
    z-index: 0;
    pointer-events: none;
}

.user_status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    z-index: 0;
    pointer-events: none;
}

.user_status.logined {
    background-color: var(--logined-user-color);
}

.user_status.un_logined {
    background-color: var(--unlogined-user-color);
}

.dialog_field {
    width: 70%;
    max-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.users_info_wrapper {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
}

.dialog {
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    gap: 5px;
    padding: 5px;
    border: inherit;
    border-radius: inherit;
    transition: 0.2s;
}

.message_container {
    width: 80%;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background-color: var(--fields-background-color);
    border: inherit;
    border-radius: inherit;
}

.message_container.sent {
    align-self: flex-end;
}

.message_container.recieved {
    align-self: flex-start;
}

.send_data_wrapper, 
.message_widjet_wrapper {
    display: flex;
    justify-content: space-between;
}

.detete_message_button,
.edit_message_button,
.input.save_button {
    background-color: var(--hover-color);
    padding: 0;
    font-size: 0.8rem;
    border: none;
    color: inherit;
}

.detete_message_button:hover,
.edit_message_button:hover,
.input.save_button:hover {
    background-color: var(--button-background-color);
}

.message_form {
    height: 10%;
    display: flex;
    gap: 5px;
    padding: 5px;
    border: inherit;
    border-radius: inherit;
}

.time,
.status,
.receiver,
.author {
    font-size: 0.7rem;
}

.message {
    height: min-content;
    padding: 5px;
    background-color: white;
    border: inherit;
    border-radius: inherit;
    resize: none;
}


.message_input {
    flex-grow: 1;
    padding-left: 5px;
    border: inherit;
    border-radius: inherit;
}

.submit_input {
    color: inherit;
    transition: 0.2s;
}

.submit_input.disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-background-color);
}

/* Footer */

.main_footer {
    min-width: 100%;
    height: 8svh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--page-background-color);
    border-top: 2px solid var(--border-color);
}

.footer_logo {
    width: 80px;
    height: 40px;
    background-image: url('../../public/logo-rsschool.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.autor_link {
    transition: 0.2s;
}

.autor_link:hover {
    color: var(--hover-color);
}