/* .hidden-in-desktop {
  display: block;
} */

@media (max-width: 768px) {
  .hidden-in-tablet {
    display: none;
  }

  .hidden-in-desktop {
    display: block;
  }

  /* enjoy */

  .enjoy {
    padding: 100px 60px;
    margin-bottom: 99px;
  }

  .headline-link-text {
    transform: translate(0px);
  }

  .hidden-icone {
    opacity: 1;
  }

  /* favorite-coffee */

  .arrow-button-left,
  .arrow-button-right {
    margin: 0px;
  }

  /* about-section */

  .images-container {
    flex-direction: column;
    row-gap: 39px;
  }

  .large-image-window {
    width: 688px;
    height: 592px;
  }

  .mobile-app-section {
    flex-wrap: wrap;
    row-gap: 93px;
  }

  /* menu */

  .menu-slide {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 14px;
  }

  .refresh-button {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
  }

  .refresh-button svg {
    stroke: #403F3D;
  }


  /* footer */

  .contacts-section {
    padding: 100px 60px;
    flex-wrap: wrap;
    row-gap: 100px;
  }


}

@media (hover: hover) {

  .link:hover::after {
    transform: scale(1);
    opacity: 1;
  }

  .menu-link-container-headline:hover .headline-link-text {
    transform: translate(0px);
  }

  .menu-link-container-headline:hover .hidden-icone {
    opacity: 1;
  }

  .arrow-button:hover {
    background-color: rgba(102, 95, 85, 1);
  }

  .arrow-button:hover svg {
    stroke: #E1D4C9;
  }

  .about-image:hover,
  .menu-slide-item:hover .product-image {
    transform: scale(90.9%);
  }

  .button-app:hover {
    color: rgba(225, 212, 201, 1);
    background-color: #665F55;
  }

  .button-app:hover svg {
    fill: rgba(225, 212, 201, 1);
  }


  .socials-button:hover {
    background-color: #E1D4C9;
  }

  .socials-button:hover svg {
    stroke: #403F3D;
  }

  .menu-control-wrapper:hover {
    background-color: rgba(102, 95, 85, 1);
    color: rgba(225, 212, 201, 1);
    border: 1px solid rgba(102, 95, 85, 1);
  }

  .menu-control-wrapper:hover .emoji-circle {
    background-color: #E1D4C9;
  }

  .refresh-button:hover {
    background-color: rgba(102, 95, 85, 1);
  }

  .refresh-button:hover svg {
    stroke: #E1D4C9;
  }

}
