@import '../../style.css';
/* @import '../../components/header/Header.css'; */

.start_page {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: appear ease-in 0.2s;
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.start_container {
    min-width: 400px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    background-color: var(--containers-background-color);
    border-radius: 10px;
}

.start_headline,
.start_greeting {
    margin: 0 auto;  
}

.start_description {
    text-align: center;
}