@import '../node_modules/modern-normalize/modern-normalize.css';

/* Common */
* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input {
  cursor: pointer;
}

h1 {
  margin: 0px;
}

button {
  margin: 0px;
  padding: 0px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
  background-color: var(--button-disabled-color);
}

/* Themes */
/* :root {
  --main-background-color: #e8e2db;
  --containers-background-color: #b7bf96;
  --game-field-background-color: #b7bf96;
  --cells-background-color: #e6b5a6;
  --main-border-color: #355070;
  --button-background-color: #B56576;
  --button-hover-color: #bf9550;
  --button-disabled-color: #436B5C;
} */

/* Themes */
:root {
  --main-background-color: #355070;
  --containers-background-color: #F9F1F2;
  --game-field-background-color: #915F78;
  --cells-background-color: #D7ABB4;
  --main-border-color: #355070;
  --button-background-color: #B56576;
  --button-hover-color: #E56B6F;
  --button-disabled-color: #6D597A;
}

body {
  background-color: var(--main-background-color);
}
